body{
    background-color: #0d1117;
}

#parent{
    background-color: #161b22;
    color: #fff;
}

#parent img{
    vertical-align: middle;
    width: 50%;
    border-radius: 50%;
}
#parent p{
    font-size: 2rem;
}

.row{
    border: 13px solid #0d1117;
}



